div {
	width: 100px;
	height: 100px;
	background-color: blue;
	position: fixed;
}

div:hover {
	background-color: green;
	transition: 1000ms ease;
	-webkit-transition: 1000ms ease;

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#one {
	position: relative;

	top: 0;
	left: 0;

	/* Make it half the size of its parent, and red so we can see it. */
	width: 50%;
	height: 50%;
	background-color: red; 
}

#two {
	position: absolute;

	top: 200px;
	left: 200px;
}